services:
  gateway:
    build:
      context: ..
      dockerfile: gateway/Dockerfile
    container_name: gateway-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "8080:8080"