server:
  port: 8080

spring:
  application:
    name: gateway

  profiles:
    active: local

  cloud:
    gateway:
      server:
        webflux:
          httpserver:
            wiretap: true
          httpclient:
            wiretap: true
          forwarded:
            enabled: true

          default-filters:
            - PreserveHostHeader
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/users/**

            - id: project-service
              uri: lb://project-service
              predicates:
                - Path=/projects/**

            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=/payments/**

          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:3000"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - OPTIONS
                allowedHeaders: "*"
                exposedHeaders: "*"
                allowCredentials: true
                maxAge: 3600

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      base-path: /actuator
  endpoint:
    health:
      show-details: always
