server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    inetutils:
      preferred-networks:
        - 10.0
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/users/**
              filters:
                - RewritePath=/users/(?<segment>.*), /$\{segment}
            - id: project-service
              uri: lb://project-service
              predicates:
                - Path=/projects/**
              filters:
                - RewritePath=/projects/(?<segment>.*), /$\{segment}
          default-filters:
            - name: PreserveHostHeader
            - name: DedupeResponseHeader
              args:
                name: Access-Control-Allow-Origin Access-Control-Allow-Credentials
                strategy: RETAIN_FIRST

          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - "http://localhost:3000"
                  - "https://yourdomain.com"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - OPTIONS
                allowed-headers: "*"
                exposed-headers: "*"
                allow-credentials: true
                max-age: 3600

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
      base-path: /actuator
  endpoint:
    health:
      show-details: always