services:
  discovery-service:
    build:
      context: ..
      dockerfile: discovery/Dockerfile
    container_name: discovery-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "8761:8761"