spring:
  application:
    name: discovery

server:
  port: 8761

eureka:
  instance:
    hostname: http://encore-discovery-alb-1894480317.ap-northeast-2.elb.amazonaws.com/eureka/
    prefer-ip-address: false
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://encore-discovery-alb-1894480317.ap-northeast-2.elb.amazonaws.com/eureka/
  server:
    enable-self-preservation: true
    renewal-percent-threshold: 0.85

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always