services:
  user-service:
    build:
      context: ..
      dockerfile: user/Dockerfile
    container_name: user-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "18081:18081"
    restart: unless-stopped